<!--The whole content below can be removed with the new code.-->
<div class="center">
    <div id="bg">
        <div class="banner">
            <div class="logo">
                <img class="logo-img" src="./../assets/images/logo-c.svg" alt="oJam">
            </div>
            <div class="title">
                <h1>
                    o
                    <font style="color:#FC861F; margin-left:-10px;">J</font>am
                </h1>
                <h4>The following example first sets a thin black border around each element</h4>
            </div>
            <div class="stores row row-centered">
                <div class="store-gp col-xs-12">
                    <a href="#" class="store g-store col-centered">
                        <img src="./../assets/images/playStore.svg" alt="Google Store">

                    </a>
                    <a href="#" class="store a-store col-centered">
                        <img src="./../assets/images/appStore.svg" alt="Apple Store">

                    </a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="subscribe">
                <form id="subs_form" autocomplete="off">
                    <h4>Subscribe Now</h4>
                    <div class="form-group">
                        <!--<label for="email">Email</label>-->
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="Email" required>
                        <button type="submit" class="submit-btn">Send</button>
                    </div>
                    <small id="emailHelpId" class="text-danger form-text">Email id is required!!</small>
                </form>
            </div>
        </div>
    </div>
</div>